@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles start */
.btn-primary {
    padding: 15px 35px;
    border-radius: 6px;
    background: linear-gradient(0deg, #ff8063 -28.333%, #f46060 95.833%);
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Shared styles end */

/* Header section style start from here */
header {
    width: 100%;
    height: 100vh;
}

/* Nav section styles start here */
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: max-content;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
    color: #3c3c3c;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
header nav ul a {
    text-decoration: none;
}
header nav ul li:hover {
    color: #f46060;
    transition: 0.1s ease 0.1s;
}
header nav .logo {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    header nav {
        flex-direction: column;
    }

    header nav ul li {
        border: 2px solid #f46060;
        padding: 5px 8px;
        margin: 5px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #363958;
    }
}

/* Nav section style end here */
/* Header main section style start */
.header-main {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-main .header-info {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-info .info {
    width: 90%;
    height: max-content;
    margin: 0 auto;
}

.header-info .info .header-title {
    font-family: Bebas Neue;
    font-size: 5rem;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #363958;
    margin-bottom: 18px;
}

.header-info .info .header-title .name {
    color: #ff8367;
}

.header-info .info .header-description {
    color: #3e3e3e;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 36px;
}

.header-main .header-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main .header-img .header-image {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    header nav .logo {
        width: 180px;
        height: 180px;
    }

    .header-main {
        height: max-content;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .header-main .header-info,
    .header-img {
        width: 100%;
    }

    .header-main .header-img {
        width: 90%;
    }

    .header-info .info .header-title {
        font-size: 4rem;
        margin-top: 5px;
    }
}
/* Header main section style end */
/* Header section style end here */
